/*--------------------Reset---------------------*/
html, body, body div, span, h1, h2, h3, h4, h5, p, address, img, i, dl, dt, dd, ol, ul, li, article, footer, header, section {
	margin: 0px;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}
article, footer, header {
	display: block;
}
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
img {
	max-width: 100%;
}
html {
	overflow-y: scroll;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: ''; 
	content: none;
}
a {
	margin: 0; 
	padding: 0; 
	font-size: 100%; 
	vertical-align: baseline; 
	background: transparent;
}
/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}
.clearfix:before, .clearfix:after { 
	content: "\0020"; 
	display: block; 
	height: 0; 
	overflow: hidden; }
.clearfix:after { 
	clear: both; 
}
.clearfix { 
	zoom: 1; 
}
/*-------------------Fonts--------------------*/
@font-face {
  font-family: 'Lato-light';
  src: url('../fonts/lato-light.eot');
  src: url('../fonts/lato-light.eot') format('embedded-opentype'), url('../fonts/lato-light.woff2') format('woff2'), url('../fonts/lato-light.woff') format('woff'), url('../fonts/lato-light.ttf') format('truetype'), url('../fonts/lato-light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-bold';
  src: url('../fonts/lato-bold.eot');
  src: url('../fonts/lato-bold.eot') format('embedded-opentype'), url('../fonts/lato-bold.woff2') format('woff2'), url('../fonts/lato-bold.woff') format('woff'), url('../fonts/lato-bold.ttf') format('truetype'), url('../fonts/lato-bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.6.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-github:before {
  content: "\f09b";
}
.fa-sort-amount-desc:before {
  content: "\f161";
}
.fa-bolt:before {
  content: "\f0e7";
}
.fa-dot-circle-o:before {
  content: "\f192";
}
.fa-universal-access:before {
  content: "\f29a";
}
.fa-users:before {
  content: "\f0c0";
}
.fa-angle-left:before {
  content: "\f104";
}
.fa-angle-right:before {
  content: "\f105";
}
.fa-paper-plane:before {
  content: "\f1d8";
}
.fa-gift:before {
  content: "\f06b";
}
.fa-cart-plus:before {
	content: "\f217";
}
.fa-money:before {
	content: "\f0d6";
}
.fa-comments:before {
	content: "\f086";
}
.fa-cutlery:before {
	content: "\f0f5";
}
.fa-trophy:before {
	content: "\f091";
}
.fa-envelope:before {
	content: "\f0e0";
}
.fa-skype:before {
	content: "\f17e";
}
.fa-facebook:before {
	content: "\f09a";
}
.fa-linkedin:before {
	content: "\f0e1";
}
.fa-instagram:before {
	content: "\f16d";
}
.fa-arrow-up:before {
	content: "\f106";
}
/*--------------------Global styles--------------------*/
body {
    font-family: 'Lato-light', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5em;
    color: #5F656D;
	margin-top: 114px;
}
dl {
    margin-bottom: 16px;
}
a {
    text-decoration: none;
    color: #211F21;
}
a:hover {
    color: #bfc1c4;
}
h1 {
	font-size: 24px;
}
h1, h2, h3, h4 {
	color: #211F21;
	text-transform: uppercase;
}
h5 {
	font-family: 'Lato-bold', sans-serif;
}
strong {
    color: #211F21;	
}
.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1024px;
}
.row {
    clear: both;
    width: 100%;
	margin: 32px auto 16px;
}
.bg {
	background: url(../images/white-bg-4.png), url(../images/bgimage2.jpg);
	background-repeat: repeat, no-repeat;
	background-size: 1px, cover;
	background-position: center;
	background-attachment: fixed;
	text-align: center;
	padding: 48px 0;
}
.backTop {
	display: none;
	cursor: pointer;
	position: fixed;
	right: 0;
	bottom: 0;
	width: 64px;
	height: 64px;
	z-index: 10000;
}
.backTop i {
	font-size: 32px;
	color: #211F21;
}
.backTop:hover i {
	color: #bfc1c4;
}
.hide {
    display: none!important;
}
.center {
	text-align: center;
}
.middle {
	display: block!important;
	margin: 0 auto;
}
.error {
	margin-top: 160px;
}
.error h1 {
	margin-bottom: 32px;
	font-size: 36px;
}
.oneThird, .twoThirds {
	position: relative;
    min-height: 1px;
	height: auto;
}
.oneThird {
	display: inline-block;
	vertical-align: top;
}
.twoThirds {
	display: inline-block;
}

/*--------------------Header--------------------*/
header {
	padding: 16px 0;
	position: fixed;
	top: 0;
	width: 100%;
	height: 66px;
	background: #fff;
	z-index: 1000;
	-webkit-box-shadow: 2px 2px 5px #bfc1c4;
	-moz-box-shadow: 2px 2px 5px #bfc1c4;
	box-shadow: 2px 2px 5px #bfc1c4;
	overflow: hidden;
	transition-duration: 0.3s, 0.3s;
}
.high {
	height: 440px!important;
}
.show {
	display: block!important;
}
header > div > div:nth-child(1) {
	float: left;
}
header > div > div:nth-child(2) {
	float: right;
}
#logo div {
	font-size: 30px;
	text-align: left;
}
#logo div:first-child {
	letter-spacing: 1px;
	margin-top: -10px;
}
#logo div:nth-child(2) {
	font-size: 25px;
	margin: -27px 0 0 62px;
}
#logo div:last-child {
	margin-top: -16px;
	letter-spacing: .2px;
	font-size: 32px;
}
nav {
	clear: both;
	display: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
	line-height: 2;
	padding-top: 16px;
}
.c-hamburger {
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 32px;
	height: 32px;
	font-size: 0;
	text-indent: -9999px;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	border: none;
	cursor: pointer;
}
.c-hamburger:focus {
  	outline: none;
}
.c-hamburger span {
	display: block;
	position: absolute;
	top: 16px;
	left: 0;
	right: 0;
	height: 1px;
	background: #211F21;
}
.c-hamburger span::before,
.c-hamburger span::after {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #211F21;
	content: "";
}
.c-hamburger span::before {
  	top: -10px;
}
.c-hamburger span::after {
  	bottom: -10px;
}
.c-hamburger--htx {
  	background-color: #fff;
}
.c-hamburger--htx span {
  	transition: background 0s 0.3s;
}
.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
	transition-duration: 0.3s, 0.3s;
	transition-delay: 0.3s, 0s;
}
.c-hamburger--htx span::before {
  	transition-property: top, transform;
}
.c-hamburger--htx span::after {
  	transition-property: bottom, transform;
}
/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  	background-color: #fff;
}
.c-hamburger--htx.is-active span {
  	background: none;
}
.c-hamburger--htx.is-active span::before {
  	top: 0;
  	transform: rotate(45deg);
}
.c-hamburger--htx.is-active span::after {
  	bottom: 0;
  	transform: rotate(-45deg);
}
.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  	transition-delay: 0s, 0.3s;
}
/*--------------------Intro--------------------*/
#intro {
	padding-top: 8px;
}
#intro a {
		color: #211F21;
}
.home-btn {
	display: inline-block;
	width: 200px;
	height: 180px;
}
.home-btn>div {
	border-radius: 50%;
	border: 1px solid #bfc1c4;
	text-align: center;
	height: 180px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
	transition: all 0.35s ease;
	margin: 0 auto;
	background: #fff;
}
.home-btn>div:hover {
	cursor: pointer;
	border: 1px solid #211F21;
}
/*--------------------Code--------------------*/
.circle {
	display: inline-block;
	width: 200px;
	height: 180px;
}
.circle h3 {
	width: 100%;;
	text-align: center;
	filter: alpha(opacity=100);
	opacity: 1;
}
.circle i {
	position: absolute;
	margin-top: -30px;
	font-size: 24px;
}
.circle p {
	display: none;
	position: absolute;
	transition: all 0.75s ease;
	font-size: 16px;
	text-align: center;
	line-height: 1.4em;
	width: 150px;
	filter: alpha(opacity=0);
	opacity: 1;
	transition: all 0.75s ease;
}
.circle>div {
	border-radius: 50%;
	border: 1px solid #bfc1c4;
	text-align: center;
	height: 180px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
	transition: all 0.35s ease;
	margin: 0 auto;
	background: #fff;
}
.circle>div:hover {
	cursor: zoom-in;
}
.circle>div>i {
	filter: alpha(opacity=100);
	opacity: 1;
}
.scale {
	cursor: zoom-in!important;
	transform: scale(1.5)!important;
}
.disappear {
	filter: alpha(opacity=0)!important;
	opacity: 0!important;
	position: absolute!important;
	top: 25px!important;
	left: 25px!important;
}
.appear {
	filter: alpha(opacity=100)!important;
	opacity: 1!important;
	display: block!important;
}
/*--------------------Projects--------------------*/
.screenshot {
	max-height: 360px;
	overflow: scroll;
	padding: 0 16px; 
}
.screenshot img {
	width: 100%;
}
.divider {
	border-bottom: 1px solid #bfc1c4;
	padding-top: 32px;
	margin-bottom: 64px;
}
.projects li, .projects h2 {
	padding-bottom: 8px;
}
.projects ul {
	margin-bottom: 16px;
}
.projects h2 {
	font-weight: 600;
	text-transform: none;
}
/*--------------------Logos--------------------*/
#logos .container + .container {
	text-align: center;
}
a.logo {
	display: inline-block; 
	width: 240px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
}
a.logo img:hover {
	cursor: zoom-in;
}
.logoClicked {
	cursor: zoom-in;
	transform: scale(1.2);
	filter: none !important;
}
.logo img {
	margin-bottom: 16px;
	width: 80%; 
	filter: grayscale(100%);
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
/*--------------------Skills--------------------*/
#skills ul {
	display: inline-block;
	padding: 0 48px 32px;
	list-style: disc;
}
/*--------------------Contacts--------------------*/
.formGroup {
	padding: 8px 0;
}
#contacts input, #contacts textarea {
	display: block;
	width: 100%;
	font-family: "Lato", sans-serif;
	font-size: 18px;
	font-weight: 300;
	text-indent: 8px;
	border:1px solid #bfc1c4;
}
#contacts input {
	height: 40px;
}
#contacts textarea {
	height: 120px;
}
input[type=submit] {
    height: auto!important;
	width: 100px!important;
	padding: 8px 0; 
	background: #fff;
    color: #5F656D;
    cursor:pointer;
	-webkit-box-shadow: 2px 2px 5px #bfc1c4;
	-moz-box-shadow: 2px 2px 5px #bfc1c4;
	box-shadow: 2px 2px 5px #bfc1c4;
	text-transform: lowercase;
}
input[type=submit]:hover {
	-webkit-box-shadow: 1px 1px 2px #cfd0d3;
	-moz-box-shadow: 1px 1px 2px #cfd0d3;
	box-shadow: 1px 1px 2px #cfd0d3;
}
/*--------------------Footer--------------------*/
footer {	
	margin: 48px 0 16px;
	font-size: 16px;
}
footer .container {
	border-top: 1px solid #bfc1c4;
}
footer .twoThirds {
	max-width: 100%;
}
#social {
	padding-top: 5px;
	text-align: right;
}
#social li {
	display: inline-block;
	padding: 0 8px;
	font-size: 20px;
}
#social a {
	color: #211F21;
}
#social a:hover {
	color: #bfc1c4;
}
/*--------------------Mobile--------------------*/
@media screen and (max-width: 480px){
	.twoThirds, .threeThirds {
		width: 100%;
	}
	.twoThirds {
		max-width: 528px;
		display: block;
	}
	.circle {
		width: 120px;
	}
	.keyboard-btn {
		padding: 6px 12px;
	}
	#projects .keyboard-btn h5 {
		font-size: 20px;
	}
	#contacts h2 {
		font-size: 28px;
	}
	#contacts p {
		line-height: 1.2em;
	}
	.backTop {
		width: 32px;
	}
	.logo img {
		width: 50%;
	}
	body {
		margin-top: 16px;
		line-height: 1.4em;
		font-size: 20px;
	}
	.bg {
		background: none;
		padding: 0;
	}
}
/*--------------------Tablet--------------------*/
@media screen and (min-width: 481px) and (max-width: 768px){
    .twoThirds, .threeThirds, .half {
		width: 100%;
	}
	.twoThirds {
		max-width: 528px;
		display: block;
	}
}
/*--------------------Laptop--------------------*/
@media screen and (min-width: 769px) and (max-width: 935px){
	.twoThirds {
		max-width: 528px;
		display: block;
	}
	.circle>div:hover {
		cursor: zoom-in;
		transform: scale(1.5);
	}
	.circle>div:hover >i {
		filter: alpha(opacity=0);
		opacity: 0;
		position: absolute;
		top: 25px;
		left: 25px;
	}
	.circle>div:hover >p {
		filter: alpha(opacity=100);
		opacity: 1;
		display: block;
	}
	.keyboard-btn:hover {
		cursor: pointer;
		color: #888;
		background: #fdfdfd;
		-webkit-box-shadow:
			inset 0 0 25px #ddd,
			0 0 3px #333;
		-moz-box-shadow: 
			inset 0 0 25px #ddd,
			0 0 3px #333;
		box-shadow: 
			inset 0 0 25px #ddd,
			0 0 3px #333;
		border-top: 1px solid #eee;
	}
	.keyboard-btn:hover i {
		color: #888!important;
	}
	a.logo img:hover {
		cursor: zoom-in;
		transform: scale(1.2);
		filter: none;
	}
}
/*--------------------Desktop--------------------*/
@media screen and (min-width: 936px) {
	.oneThird {
        width: 33%;
    }
    .twoThirds {
        width: 66%;
    }
    .fourFifths {
        width: 80%;
    }
	article {
		min-height: 440px;
	}
	#photo {
		width: 120px;
		height: 120px;
		border-radius: 50%;
		margin: 16px auto;
		background-image: url("../images/av_photo.jpg");
		background-repeat: no-repeat;
		background-position: left top;
		background-size: 100%;
	}
	#photo p {
		display: none;
	}
    #skills .oneThird {
        margin-left: 0;
    }
	.circle>div:hover {
		cursor: zoom-in;
		transform: scale(1.5);
	}
	.circle>div:hover>h3 {
		filter: alpha(opacity=0);
		opacity: 0;
	}
	.circle>div:hover >p {
		filter: alpha(opacity=100);
		opacity: 1;
		display: block;
	}
	.keyboard-btn:hover {
		cursor: pointer;
		color: #888;
		background: #fdfdfd;
		-webkit-box-shadow:
			inset 0 0 25px #ddd,
			0 0 3px #333;
		-moz-box-shadow: 
			inset 0 0 25px #ddd,
			0 0 3px #333;
		box-shadow: 
			inset 0 0 25px #ddd,
			0 0 3px #333;
		border-top: 1px solid #eee;
	}
	.keyboard-btn:hover i {
		color: #888!important;
	}
	a.logo img:hover {
		cursor: zoom-in;
		transform: scale(1.2);
		filter: none;
	}
}